*{margin: 0;}

.base-container{
  margin: auto;
}

.login-main{
  background-color: #0D3155;
  height:100vh;
}

.login-header{
  color: #F1F6F6;
  text-align: center;
  margin:auto;
  height: 200px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:bold;
  letter-spacing: 1px;
  vertical-align: middle;
  position:relative;
  top: 100px;
  font-size: 40px;
  
}

.login-box{
  margin:auto;
  height: 490px;
  width: 540px;
  background-color: #F1F6F6;
  display: flex;
  flex-direction: column;
  padding:10px;
  border-radius: 20px;
  position: relative;
  top: 70px;
}

.login-box-header{
  margin-top: 40px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #0D3155;
  font-size: 30px;
  font-weight: 500;
}

.form{
  margin:auto;
}

.form-group{
  margin-bottom: 15px;
}

input[type=text]{
  width:200px;
  height:20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: whitesmoke;
  border: 2px solid lightgrey;
  color: lightslategray;
  font-size: large;
}

input[type=password]{
  width:200px;
  height:20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: whitesmoke;
  border: 2px solid lightgrey;
  color: lightslategray;
  font-size: large;
}

input[type="checkbox"]{
  width: 20px;
}

label{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 17px;
  color: lightslategray;
}

.show-password{
  margin:auto;
  margin-top: 15px;
}

.remember-me{
  margin:auto;
  margin-top: 15px;
  margin-bottom: 10px;
  height: 5px;
}

.buttons{

  margin: auto;
  margin-top: 5px;
  margin-bottom: 1px;
}

.sign-in-button-container{
  margin-bottom: 20px;
}

button{
  width: 210px;
  height: 27px;
  background-color: #0D3155;
  color: #F1F6F6;
  transition-duration: 0.4s;
  border:none;
}

button:hover{
  background-color: #F1F6F6;
  color: #0D3155;
}

.login-footer{
  margin:auto;
  color: #9acbeb;
  position: relative;
  top: 170px;
  width: 500px;
}

.password-recovery{
  margin:auto;
  margin-top: 10px;
}


.privacy-policy{
  margin-left: 100px;
}


.terms-of-use{
  margin-left: 100px;
}



